App_WebReferences/WSUnidad1/Consulta3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfConsultaEntidadesExternas.Common.Objetos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfConsultaEntidadesExternas.Common.Objetos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfResultadoConsulta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultadoConsulta" nillable="true" type="tns:ResultadoConsulta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultadoConsulta" nillable="true" type="tns:ArrayOfResultadoConsulta" />
  <xs:complexType name="ResultadoConsulta">
    <xs:sequence>
      <xs:element minOccurs="0" name="departamentoDeclaracion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="departamentoSiniestro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estadoValoracion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaDeclaracion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaSiniestro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaValoracion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="hechoVictimizante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idAnexo" type="xs:int" />
      <xs:element minOccurs="0" name="idDeclaracion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idJefeHogar" type="xs:int" />
      <xs:element minOccurs="0" name="idRegistroPersona" type="xs:int" />
      <xs:element minOccurs="0" name="idSiniestro" type="xs:int" />
      <xs:element minOccurs="0" name="municipioDeclaracion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="municipioSiniestro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroFUD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paramHecho" type="xs:int" />
      <xs:element minOccurs="0" name="primerApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="primerNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="relacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="responsable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="segundoApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="segundoNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDesplazamiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoVictima" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoConsulta" nillable="true" type="tns:ResultadoConsulta" />
</xs:schema>